---
import Container from "./Container.astro"

---

<div class="relative py-16">
  <div aria-hidden="true" class="absolute inset-0 grid w-full grid-cols-2 m-auto h-max -space-x-52 opacity-40 dark:opacity-20">
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
  </div>
  <Container>
    <div class="relative">
      <div class="flex items-center justify-center -space-x-2">
        
       
        <img
          loading="lazy"
          width="400"
          height="400"
          src="https://www.ezaga.co.za/wp-content/uploads/2023/11/eZaga-White-Labelling.png"
          alt="Bank card app"
          class="z-10 object-cover rounded-full"
        />
       
      </div>
      <div class="m-auto mt-6 space-y-6 md:w-8/12 lg:w-7/12">
        <h1 class="text-4xl font-bold text-center text-gray-800 dark:text-white md:text-5xl">Change The Way You Offer Banking</h1>
        <p class="text-xl text-center text-gray-600 dark:text-gray-300">
          Founded by Fintech entrepreneurs and banking practitioners, eZaga is a dynamic Fintech enabler that leverages on the vast expertise of its team. Our uniqueness reflects in the way we operate.
        </p>
        <div class="flex flex-wrap justify-center gap-6">
          <a
              href="https://www.ezaga.co.za/about/"
              class="relative flex items-center justify-center w-full h-12 px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
            >
              <span class="relative text-base font-semibold text-white dark:text-dark"
                >FIND OUT MORE</span
              >
            </a>
           
          </a>
        </div>
      </div>
    </div>
  </Container>
</div>