---
import Container from "./Container.astro"

---

<div id="features">
  <Container>
    <div class="md:w-2/3 lg:w-1/2">
     
      
      <h2 class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-5xl">
        A Platform For Possibilities
      </h2>
      <p class="text-gray-600 dark:text-gray-300">eZaga empowers businesses and communities with the tools to serve
        billions of financially under-served people</p>
    </div>
    <div
      class="grid mt-16 overflow-hidden text-gray-600 sm:grid-row-2 lg:grid-row-4 lg:divide-y-0 xl:grid-row-4"
    >
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative p-8 py-12 space-y-8">
          
            <h5
              class="text-xl font-semibold text-gray-700 transition dark:text-white group-hover:text-primary "
            >
              Prepaid And Debit-Card
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
                We issue prepaid and debit cards under one Platform.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-primary">      
          </a>
        </div>
      </div>
      <div class="group relative  bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative p-8 py-12 space-y-8">
          
          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 transition dark:text-white group-hover:text-primary"
            >
              Customer Portal
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
                Manage the entire payment lifecycle from start to finish.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-primary">        
          </a>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative p-8 py-12 space-y-8">
          

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 transition dark:text-white group-hover:text-primary"
            >
              Product Control
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
                Easily create and customise card products.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-primary">         
          </a>
        </div>
      </div>
      <div
        class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div
          class="relative p-8 py-12 space-y-8"
        >

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 transition dark:text-white group-hover:text-primary"
            >
              Real-Time Payments
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
                Confirmation of funds via a real-time balance.
            </p>
          </div>
         
                       
          </a>
        </div>
      </div>
    </div>
  </Container>
</div>