---
import Container from "./Container.astro";

---

<div id="solution">
    <Container>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-sky-500">
        <path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z" clip-rule="evenodd" />
        <path fill-rule="evenodd" d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z" clip-rule="evenodd" />
      </svg>
      
      <div class="flex-row-reverse justify-between space-y-6 text-gray-600 md:flex md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-1/2">
          <img
            src="https://www.ezaga.co.za/wp-content/uploads/2023/11/NSFAS-Mobile-App-One-1.png"
            alt="phone app image"
            loading="lazy"
            width=""
            height=""
            class="w-full"
          />
        </div>
      
        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
            At the core of our values
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            We aim to empower financially underserved communities in Africa and other emerging markets through accessible and affordable digital banking solutions, and enabling sustainable development. <br> <br> We are dedicated to enabling fintech enterprises worldwide, fostering financial inclusion, and ensuring our clients' success at every step of their journey.
          </p>
          <div class="space-y-4 divide-y divide-gray-100 dark:divide-gray-800">
            <div class="flex gap-4 mt-8 md:items-center">
             
              </div>
              <div class="w-5/6">
                <h3 class="text-lg font-semibold text-gray-700 dark:text-indigo-300">Transparency</h3>
                <p class="text-gray-500 dark:text-gray-400">We operate with transparency and integrity, ensuring that our customers can trust us to provide clear, reliable, and affordable financial services precisely tailored to meet their expectations and needs.</p>
              </div> 
            </div> 
            <div class="flex gap-4 pt-4 md:items-center">
               
                                                 
              </div>
              <div class="w-5/6">
                <h3 class="text-lg font-semibold text-gray-700 dark:text-teal-300">Innovation</h3>
                <p class="text-gray-500 dark:text-gray-400">We embrace a culture of innovation, constantly striving to develop and deliver cutting-edge digital solutions that anticipate and cater to the evolving needs of the ecosystem.</p>
              </div> 
            </div> 
          </div>
        </div>
      </div>
    </Container>
</div>